body {
}

.paragraph {
    font-size: 12px;
    letter-spacing: 0.8px;
}

.content {
    margin-top: 15px;
}

.landing-copyright {
    margin-bottom: 50px;
    text-align: center;
}

.navigation-icons {
    /*width: 270px;*/
    margin-left: auto;
    margin-right: auto;
}

.cadastro-nav {
    background-image: url(../images/cadastro.png);
    /*background-position: center center;*/
    background-repeat: no-repeat;
    background-size: 36px 36px;
}

.about-nav {
    background-image: url(../images/infoabout.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 36px 36px;
}

.folio-nav {
    background-image: url(../images/qr.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 36px 36px;
}

.blog-nav {
    background-image: url(../images/vcard.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 36px 36px;
}

.video-nav {
    background-image: url(../images/winner.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 36px 36px;
}

.mail-nav {
    background-image: url(../images/quiz.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 36px 36px;
}

.nav-icon {
    float: left;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 25px;
}

.icon-red {
    background-color: #fc5858;
}

.icon-blue {
    background-color: #259780;
}

.icon-dblue {
    background-color: #2f95bf;
}

.icon-magenta {
    background-color: #9b59b6;
}

.icon-green {
    background-color: #2ecc71;
}

.icon-yellow {
    background-color: #F90;
}

.small-navigation-icons {
    margin-top: 30px;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
}

.copyright {
    color: #252525;
    display: block;
    text-transform: uppercase;
    float: none;
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}

.footer {
    margin-top: -30px;
}

.small-nav-icon {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}
.header {
    position: fixed;
    width: 100%;
    z-index: 9999;
    height: 70px;
    background-color: #F90;
    border-bottom: solid 1px #ffcc1d;
}

.header-clear {
    height: 70px;
}

.logo-home {
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
    border-style: none;
    background-color:transparent;
}

.header-text {
    float: right;
    padding-top: 17px;
}

.header-text strong {
    letter-spacing: normal;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #3b4043;
    font-weight: 600;
    display: block;
    text-align: right;
    padding-right: 20px;
}

.header-text em {
    font-family: 'Dosis', sans-serif;
    font-size: 13px;
    letter-spacing: 0.8px;
    font-style: normal;
    color: #3b4043;
    display: block;
    padding-right: 20px;
}

.heading {
    margin-bottom: 10px;
}

.heading em {
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-size: 12px;
    color: #ce1a13;
}

.heading h3 {
    color: #252525;
    font-weight: 200;
}

.heading-left {
    float: left;
}

.heading-right {
    float: right;
    margin-top: 5px;
}

.thumbs {
    width: 110%;
    margin-left: -5%;
}

.thumb {
    width: 50%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    margin-bottom: 10px;
}

.thumb img {
    width: 100%;
    display: block;
}

.left-thumb-text {
    color: #FFFFFF;
    text-align: left;
    padding-left: 10px;
    margin-top: -30px;
}

.right-thumb-text {
    color: #FFFFFF;
    text-align: right;
    padding-right: 10px;
    margin-top: -30px;
}

.content-tab {
    font-size: 14px;
    color: #FFFFFF;
    background-color: #252525;
    width: 32%;
    text-transform: uppercase;
    float: left;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 2px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.ui-page {
    background: url(../images/320x480px.png) no-repeat center center fixed;
    background-size: cover; /*Css padrão*/
    -webkit-background-size: cover; /*Css safari e chrome*/
    -moz-background-size: cover; /*Css firefox*/
    -ms-background-size: cover; /*Css IE não use mer#^@%#*/
    -o-background-size: cover; /*Css Opera*/
}

.ui-content {
    padding: 1em;
}

.ui-header.ui-bar-a {
    background: #F90; /* Old browsers */
    background: -moz-linear-gradient(top, #F90 0%, #F90 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F90), color-stop(100%, #F90)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F90 0%, #F90 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F90 0%, #F90 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F90 0%, #F90 100%); /* IE10+ */
    background: linear-gradient(to bottom, #F90 0%, #F90 100%); /* W3C */
    border: 1px solid #a7b9c1;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-color: #ffcc1d;
}

.ui-header.ui-bar-a > .ui-title {
    text-shadow: none;
}

.ui-footer {
    text-align: center;
}

.ui-overlay-a, .ui-page-theme-a, .ui-panel-wrapper {
    color: #fff;
    text-shadow: 0px 1px 0px #fff;
}

.err {
    color: red;
}

.clear {
    clear: both;
}

#login > .ui-btn {
    margin-top: 20px;
}

/* BUTTON STYLES*/
.ui-bar-a > .ui-btn-up-a {
    border: 1px solid #2373A5;
    margin-top: 1px;
    background-image: -moz-linear-gradient(top, rgba(41,192,227,1) 0%, rgba(6,123,152,1) 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(41,192,227,1)), color-stop(100%,rgba(6,123,152,1))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, rgba(41,192,227,1) 0%,rgba(6,123,152,1) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(41,192,227,1) 0%,rgba(6,123,152,1) 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, rgba(41,192,227,1) 0%,rgba(6,123,152,1) 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, rgba(41,192,227,1) 0%,rgba(6,123,152,1) 100%); /* W3C */
}

.ui-bar-a > .ui-btn-hover-a {
    border: 1px solid #2373A5;
    margin-top: 1px;
    background-image: -moz-linear-gradient(top, rgba(6, 123, 152, 1) 0%, rgba(41, 192, 227, 1) 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(6, 123, 152, 1)), color-stop(100%, rgba(41, 192, 227, 1))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, rgba(6, 123, 152, 1) 0%, rgba(41, 192, 227, 1) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(6, 123, 152, 1) 0%, rgba(41, 192, 227, 1) 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, rgba(6, 123, 152, 1) 0%, rgba(41, 192, 227, 1) 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, rgba(6, 123, 152, 1) 0%, rgba(41, 192, 227, 1) 100%); /* W3C */
}

.ui-bar-b {
    border: 1px solid #456F9A;
    color: white;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(255,255,255,0.2);
    background-image: -moz-linear-gradient(top, rgba(41,192,227,1) 0%, rgba(6,123,152,1) 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(41,192,227,1)), color-stop(100%,rgba(6,123,152,1))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, rgba(41,192,227,1) 0%,rgba(6,123,152,1) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(41,192,227,1) 0%,rgba(6,123,152,1) 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, rgba(41,192,227,1) 0%,rgba(6,123,152,1) 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, rgba(41,192,227,1) 0%,rgba(6,123,152,1) 100%); /* W3C */
}

.ui-content .ui-listview-inset {
    margin: 1em 5px;
}
.ui-btn-active {
    border: 1px solid rgba(255,255,255,0.2);
    background: rgba(255,255,255,0.2);
    font-weight: bold;
    color: white;
    cursor: pointer;
    text-shadow: 0 1px 1px rgba(255,255,255,0.2);
    text-decoration: none;
    background-image: -moz-linear-gradient(top, rgba(6, 123, 152, 1) 0%, rgba(41, 192, 227, 1) 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(6, 123, 152, 1)), color-stop(100%, rgba(41, 192, 227, 1))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, rgba(6, 123, 152, 1) 0%, rgba(41, 192, 227, 1) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(6, 123, 152, 1) 0%, rgba(41, 192, 227, 1) 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, rgba(6, 123, 152, 1) 0%, rgba(41, 192, 227, 1) 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, rgba(6, 123, 152, 1) 0%, rgba(41, 192, 227, 1) 100%); /* W3C */
    font-family: Helvetica, Arial, sans-serif;
}

.ui-icon.ui-icon-arrow-r {
    background-color: #00a3c9;
    border: none;
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.5),0 1px 1px rgba(255,255,255,1);
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.5),0 1px 1px rgba(255,255,255,1);
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.5),0 1px 1px rgba(255,255,255,1);
}

.ui-btn-active .ui-icon.ui-icon-arrow-r {
    background-color: #666;
    background-color: rgba(0, 0, 0, .4);
    border: none;
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.5), 0 1px 1px rgba(255, 255, 255, 1);
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.5), 0 1px 1px rgba(255, 255, 255, 1);
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.5), 0 1px 1px rgba(255, 255, 255, 1);
}

.ui-loader-verbose {
    background: -moz-linear-gradient(top, rgba(6, 123, 152, 1) 0%, rgba(41, 192, 227, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(6, 123, 152, 1)), color-stop(100%, rgba(41, 192, 227, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(6, 123, 152, 1) 0%, rgba(41, 192, 227, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(6, 123, 152, 1) 0%, rgba(41, 192, 227, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(6, 123, 152, 1) 0%, rgba(41, 192, 227, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(6, 123, 152, 1) 0%, rgba(41, 192, 227, 1) 100%); /* W3C */
}

.decoration{
	background-color:#cacaca;
	height:2px;
	background-repeat:repeat;
	border-bottom:solid 1px #FFFFFF;
	margin-bottom:20px;
	display:block;
	width:100%;
	clear:both;
}
.tab-content{
    width:100%;
    height:auto;
    padding-top:0px;
    background-color:white;
    border-bottom-left-radius:0.5em;
    border-bottom-right-radius:0.5em;
    color:#000;
}  